<!DOCTYPE html>
<html class="vh-100">
<head>
    <title>Login · Lion-Framework</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# bootstrap 5.3 #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="
    sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {# assets #}
    <link rel="stylesheet" type="text/css" href="{{ host }}/app/assets/index.css">
</head>
<body class="bg-dark-web h-100">
    {% include 'extends/content.twig' %}

    {# bootstrap 5.3 #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {# axios #}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {# cryptojs #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {# assets #}
    <script type="text/javascript">
        document.getElementById("form-login").addEventListener("submit", (e) => {
            e.preventDefault();

            const form = new FormData();
            form.append("users_email", document.getElementById("users_email").value);
            form.append("users_password", CryptoJS.SHA256(document.getElementById("users_password").value));

            axios.post("{{ api }}/api/auth/login", form, {
                headers: {
                    "content-Type": "multipart/form-data"
                }
            }).then(res => {
                alert(`status: ${res.data.status} | message: ${res.data.message}`);
            }).catch(err => {
                alert(`status: ${err.response.data.status} | message: ${err.response.data.message}`);
            });
        });
    </script>
</body>
</html>
