################################################################################
################# SERVER INFORMATION ------------------------- #################
################################################################################
APP_NAME="lion-framework"
SERVER_DATE_TIMEZONE="America/Bogota"
SERVER_URL="http://127.0.0.1:8000"
SERVER_URL_AUD="http://127.0.0.1:5173"
################################################################################
################# DATABASE CONNECTIONS ----------------------- #################
################################################################################
DB_TYPE="mysql"
DB_HOST="127.0.0.1" # the mysql value for docker
DB_PORT=3306
DB_NAME="lion_database"
DB_USER="root"
DB_PASSWORD="lion"
################################################################################
################# EMAIL DETAILS ------------------------------ #################
################################################################################
MAIL_SERVICES="symfony-phpmailer"
MAIL_DEBUG=0
MAIL_HOST="smtp.example.com"
MAIL_ENCRYPTION="tls"
MAIL_PORT=0
MAIL_NAME="${APP_NAME}"
MAIL_ACCOUNT="example@lf.com"
MAIL_PASSWORD=""
################################################################################
MAIL_SERVICES_SUPP="symfony-phpmailer"
MAIL_DEBUG_SUPP=0
MAIL_HOST_SUPP="smtp.example.com"
MAIL_ENCRYPTION_SUPP="tls"
MAIL_PORT_SUPP=0
MAIL_NAME_SUPP="${APP_NAME}-SUPP"
MAIL_ACCOUNT_SUPP="example@lf.com"
MAIL_PASSWORD_SUPP=""
################################################################################
################# RSA DATA SECURITY -------------------------- #################
################################################################################
RSA_PATH="" # the "/etc/ssl/openssl.cnf" value for docker
RSA_URL_PATH="keys/"
RSA_PRIVATE_KEY_BITS=2048
RSA_DEFAULT_MD="sha256"
################################################################################
################# JWT DATA SECURITY -------------------------- #################
################################################################################
JWT_DEFAULT_MD="RS256"
JWT_EXP=3600 # number of hours in seconds
################################################################################
################# AES DATA SECURITY -------------------------- #################
################################################################################
AES_METHOD="aes-256-cbc"
AES_KEY="" # 16 character value
AES_IV="" # 16 character value
################################################################################
################# REDIS -------------------------------------- #################
################################################################################
REDIS_SCHEME="tcp"
REDIS_HOST="127.0.0.1" # the redis value for docker
REDIS_DATABASES=1
REDIS_PASSWORD="lion"
REDIS_PORT=6379
