# Ignore IDE/Editors directories -----------------------------------------------
/.fleet
/.idea
/.vscode
# ------------------------------------------------------------------------------

# Ignore configuration or test files -------------------------------------------
/tests/build/
/tests/App/
/tests/Database/
/tests/lion_database.sqlite
.phpunit.result.cache
# ------------------------------------------------------------------------------

# Ignore dependency files ------------------------------------------------------
/vendor/
composer.lock
/.phplint.cache/
# ------------------------------------------------------------------------------

# Ignore project files ---------------------------------------------------------
/app/
/database/
/resources/
/storage/**/*.key
/storage/**/*.log
/storage/postman/
.rnd
.env
supervisord.pid
test.txt
# ------------------------------------------------------------------------------
