# Ignore IDE/Editors directories ---------------------------------------------------------------------------------------
/.fleet
/.idea
/.vscode
# Ignore configuration or test files -----------------------------------------------------------------------------------
/tests/PHPUnit/
/tests/App/
/tests/Database/
/tests/lion_database.sqlite
.phpunit.result.cache
# Ignore dependency files ----------------------------------------------------------------------------------------------
/vendor/
/.phplint.cache/
# Ignore project files -------------------------------------------------------------------------------------------------
/app/
/database/
/resources/
/storage/**/*.key
/storage/**/*.log
/storage/postman/
.rnd
.env
supervisord.pid
test.txt
lion_database.sqlite
