/.phpunit.cache
/.fleet
/.idea
/.vscode
/vendor/
/storage/**/*.key
/storage/**/*.log
/storage/postman/
/tests/build/
/tests/App/
/tests/Database/
/resources/
/app/
.rnd
.phpunit.result.cache
.env
/database/
test.txt
supervisord.pid
composer.lock
