services:
    php:
        container_name: bundle-php
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - 80:80
            - 443:443
            - 8000:8000
            - 8001:8001
            - 8002:8002
            - 9000:9000
            - 5173:5173
            - 4321:4321
        volumes:
            - ./:/var/www/html
        depends_on:
            - mysql
            - redis
        extra_hosts:
            - "host.docker.internal:host-gateway"
        networks:
            - lion

    redis:
        image: redis
        container_name: bundle-redis
        restart: always
        ports:
            - 6379:6379
        volumes:
            - redis_data:/var/lib/redis
        environment:
            REDIS_HOST: redis
            REDIS_PASSWORD: lion
            REDIS_DATABASES: 1
        networks:
            - lion

    mysql:
        image: mysql
        container_name: bundle-mysql
        ports:
            - 3306:3306
        environment:
            MYSQL_DATABASE: lion_database
            MYSQL_PASSWORD: lion
            MYSQL_ROOT_PASSWORD: lion
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - lion

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: bundle-phpmyadmin
        links:
            - mysql:mysql
        ports:
            - 8080:80
        environment:
            PMA_HOST: mysql
            MYSQL_USER: root
            MYSQL_PASSWORD: lion
            MYSQL_ROOT_PASSWORD: lion
        networks:
            - lion

    postgres:
        image: postgres
        container_name: bundle-postgres
        ports:
            - 5432:5432
        environment:
            POSTGRES_DB: lion_database
            POSTGRES_USER: root
            POSTGRES_PASSWORD: lion
        volumes:
            - postgres_data:/var/lib/postgresql
        networks:
            - lion

    pgadmin:
        image: dpage/pgadmin4
        container_name: bundle-pgadmin4
        ports:
            - 5050:80
        environment:
            PGADMIN_DEFAULT_EMAIL: root@dev.com
            PGADMIN_DEFAULT_PASSWORD: lion
        depends_on:
            - postgres
        volumes:
            - pgadmin_data:/var/lib/pgadmin
        networks:
            - lion

volumes:
    mysql_data:
    postgres_data:
    pgadmin_data:
    redis_data:
        driver: local

networks:
    lion:
        driver: bridge
