<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="vendor/autoload.php"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
>
	<testsuites>
		<testsuite name="Tests">
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>

	<php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>