<div class="container">
    <div class="my-5">
        <div class="col-12 col-sm-12 col-md-8 col-lg-7 mx-auto p-4 rounded border mx-auto text-white">
            <form id="form-user-registration">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="mb-3">
                            <label for="idroles" class="form-label">Rol</label>
                            <select id="idroles" class="form-select" required>
                                <option value="">Select</option>
                                <option value="1">Administrator</option>
                                <option value="2">Client</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="mb-3">
                            <label for="users_name" class="form-label">User Name</label>
                            <input type="text" id="users_name" class="form-control" autocomplete="off" placeholder="User Name..." required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="mb-3">
                            <label for="users_lastname" class="form-label">User Lastname</label>
                            <input type="text" id="users_lastname" class="form-control" autocomplete="off" placeholder="User Lastname..." required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="mb-3">
                            <label for="users_email" class="form-label">Email</label>
                            <input type="email" id="users_email" class="form-control" autocomplete="off" placeholder="Email..." required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="mb-3">
                            <label for="users_password" class="form-label">Password</label>
                            <input type="password" id="users_password" class="form-control" autocomplete="off" placeholder="Password..." required>
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
