<div class="container">
    <div class="py-5 text-white">
        <h4>LION-FRAMEWORK CLI</h4>
        <hr>

        <form id="form-terminal">
            <div class="terminal">
                <div class="terminal-header">
                    <span class="me-auto">Server</span>
                    <span class="terminal-button-yellow"></span>
                    <span class="terminal-button-yellow"></span>
                    <span class="terminal-button-orange"></span>
                </div>
                <div class="terminal-body" id="terminal-output"></div>
                <div class="terminal-input border-top border-secondary">
                    <span>$</span>
                    <input type="text" id="command-input" autocomplete="off" value="php lion " autofocus>
                </div>
            </div>
        </form>
    </div>
</div>
