<div class="container-fluid">
    <div class="col-11 mx-auto py-5 text-white">
        <form id="form-terminal">
            <div class="terminal">
                <div class="terminal-header">
                    <span class="me-auto">Lion-Server</span>
                    <span class="terminal-button-yellow"></span>
                    <span class="terminal-button-yellow"></span>
                    <span class="terminal-button-orange"></span>
                </div>
                <div class="terminal-body" id="terminal-output"></div>
                <div class="terminal-input">
                    <span id="git-branch">$</span>
                    <input type="text" id="command-input" autocomplete="off" value="php lion " autofocus>
                </div>
            </div>
        </form>
    </div>
</div>
