<div class="container">
    <div class="my-5 text-white">
        <h4>LION-FRAMEWORK CLI</h4>

        <hr>

        <form id="form-commands">
            <div class="mb-3">
                <label for="command" class="form-label">Command</label>

            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <select id="group" class="form-select" required>
                        <option value="available-commands">available commands</option>
                        <option value="aes">aes</option>
                        <option value="db">db</option>
                        <option value="email">email</option>
                        <option value="migrate" selected>migrate</option>
                        <option value="new">new</option>
                        <option value="resource">resource</option>
                        <option value="route">route</option>
                        <option value="rsa">rsa</option>
                        <option value="sh">sh</option>
                        <option value="socket">socket</option>
                        <option value="token">token</option>
                    </select>
                </div>

                <div class="col-auto">
                    <select id="option" class="form-select" required></select>
                </div>

                <div class="col-5">
                    <input type="text" id="command" class="form-control-dark" autocomplete="off" placeholder="arguments and options...">
                </div>

                <div class="col-auto">
                    <button type="reset" class="btn btn-dark border border-secondary">Clean</button>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-dark border border-secondary">Exec</button>
                </div>
            </div>

            <hr>

            <textarea class="form-control-dark" id="content" rows="25" placeholder="command output..." readonly></textarea>
        </form>
    </div>
</div>
