<div class="container">
    <div class="py-5 text-white">
        <form id="form-terminal">
            <div id="terminal-tabs">
                <ul id="list-tabs"></ul>
            </div>
        </form>
    </div>
</div>
